<div id="orientation_bar">
  <div id="overview"><img src="/image/<%=@overview_key%>" alt=''/></div>
  <div id="slice" style="left: <%=@slice_left%>px; width: <%=@slice_width%>px;">
  &nbsp;</div>
</div>
